.image {
  max-width: 35%;
  /* height: 90vh; */
  /* border: 1px solid black; */
  border-radius: 20px 0px 0px 20px;
}
.rightDiv {
  margin: 7.5%;
  height: 63.5vh;
  width: 100%;
}
.RightTopDiv {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(112, 106, 106);
}

.box3-page2 {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.687);
  border-radius: 5px;
}

.box1-page2 {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-image: url("/public/icons8-tick-box.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.box2-page2 {
  background-color: blue;
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
h5 {
  color: grey;
}

.input {
  height: 30px;
  font-size: 20px;
  padding: 5px 10px;
  width: 280px;
  border-radius: 5px;
  border: 0.5px solid gray;
}
.message {
  margin-top: 10px;
  display: block;
}

.text-area {
  width: 614px;
  height: 140px;
  font-size: 18px;
  padding: 10px;
}

.choices-page2 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 25px;
  margin-bottom: 35px;
}
.choices-page2 input {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

#two-page2 {
  margin-left: 50px;
}

.buttonDiv {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.next-btn {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #0c05fc;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.back-btn {
  padding: 12px 25px;
  font-size: 16px;
  background: none;
  color: black;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.back-btn:hover {
  background-color: #0c05fc;
  color: white;
}
