.image {
  max-width: 35%;
  /* height: 90vh; */
  /* border: 1px solid black; */
  border-radius: 20px 0px 0px 20px;
}
.rightDiv {
  margin: 7.5%;
  height: 63.5vh;
  width: 100%;
}
.RightTopDiv {
  display: flex;
  align-items: center;

  gap: 20px;
  color: rgb(112, 106, 106);
}

.box2-page3,
.box1-page3 {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-image: url("/public/icons8-tick-box.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.box3-page3 {
  background-color: blue;
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h5 {
  color: grey;
}

.input {
  height: 30px;
  font-size: 20px;
  padding: 5px 10px;
  width: 280px;
  border-radius: 5px;
  border: 0.5px solid gray;
}

.container {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}
/* .container img {
  width: 275px;
  cursor: pointer;
  height: 90px;
  border-radius: 10px;
} */

#one-page3,
#two-page3 {
  margin-left: 0px;
  margin-top: 20px;
  margin-left: 0px;
  cursor: pointer;
}

.maleSvg,
.femaleSvg {
  border: 2px solid grey;
  padding: 20px 100px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.133);
}

.checkForMale,
.checkForFemale {
  position: relative;
  right: 55px;
  top: 30px;
}
.radio-btn {
  margin-bottom: 30px;
}
.radio-btn label {
  padding-left: 5px;
  cursor: pointer;
}
.buttonDiv {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.next-btn {
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  background-color: #0c05fc;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.back-btn {
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  background: none;
  color: black;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.back-btn:hover {
  background-color: #0c05fc;
  color: white;
}
