body {
  margin: auto;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgba(229, 222, 222, 0.3);
}

.firstPageContainer {
  margin: 3% 15%;
  display: flex;
  position: absolute;
  background-color: white;
  width: 1270px;
  height: 800px;
  border-radius: 20px;
}
